<a href="/admin/create">
    <button type="button" class="btn btn-primary">thêm nội dung</button>
</a>
<h1>quản lý nội dung</h1>
<div class="row">
    {{#each courses}}
    <div class="card col-md-4 ml-auto" style="width: 18rem;">
        <a href="">
            <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.body}}</p>
        </div>
    </div>
{{/each}}
</div>