#card_hover{
    transition: transform .2s;
}
#card_hover:hover{
    transform: scale(1.3);
}
.container.login{
    position: absolute;
}
div.show_layout{
    width: 100%;
    display: flex;
    margin-top: 10rem;
}
div.show_layout .left_show{
    width: 4rem;
    
}
div.show_layout .left_show i{
    font-size:20px;
}
div.contentframe{
    margin-top: 8rem !important;
    width: 70% !important;
}
.contentframe > div,
.contentframe > div > img,
.contentframe > div > p >img{
    width: 100% !important;
}
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
.container.add_content{
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.add_conten div.btn_add_content{
    width: 12rem;
    height: 6rem;
    border-radius: 3rem;
    border: black solid 2px;
}
//showall
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
font-size: 2.5rem;
}
@media (min-width: 768px) {
.display-4 {
    font-size: 3rem;
}
}



.flex-auto {
-ms-flex: 0 0 auto;
flex: 0 0 auto;
}
div.col-auto.d-none.d-lg-block{
    width: 200px;
    height: 250px;
}
.h-250 { height: 250px; }
.bd-placeholder-img {
    width: 100%;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

.h-md-250 { height: 250px; }
}
//binh luan
.container.text-left{
    margin-top: 15px;
}
.row .col-sm-1 .img_user{
    width: 45px;
    height: 45px;
}
.row .col-sm-1 .img_user img{
    width: 100%;
    height: 100%;
} 
.row .col-sm-8 .info_user_content{
    background-color: grey;
    padding-left: 5px;
}
.row .col-sm-8 .info_user_content p{
    word-wrap: break-word;
}


