{% extends 'base/base.html' %}
{% block content %}

<h1>Nhập thông tin đăng ký</h1>
<form method="post" action="/dangkykham/create">
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Họ và tên</label>
       <input type="text" class="form-control" id="name" required="true" name="name">
    </div>
    <div class="form-group col-md-6">
      <label for="sdt">Số điện thoại</label>
      <input type="text" class="form-control" id="sdt" name="phone" required="true" >
    </div>
  </div>
  <div class="form-group">
    <label for="address">Địa chỉ</label>
    <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required="true">
  </div>
  <div class="form-group">
      <label for="ngaysinh">Ngày sinh</label>
      <input type="date" class="form-control" id="ngaysinh" required="true" name="namesinh" >
    </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="gt">Giới tính</label>
      <select id="gt" class="form-control" name="gt">
        <option value="0" selected>Nam</option>
        <option value="1">Nữ</option>
      </select>
    </div>
  </div>

  <button type="submit" id="dangkykham" class="btn btn-primary"  >Đăng ký khám</button>
</form>
{% endblock %}