{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-7">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-body">
                <form method="post" action="/admin/create_user" enctype="multipart/form-data">
                    <div class="row mb-3 form-group" >
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <label for="inputFirstName">Tên</label>
                                <input class="form-control" id="inputFirstName" type="text" name="firstname" placeholder="Enter your first name" required="required"/>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <label for="inputLastName">Họ</label>
                                <input class="form-control" id="inputLastName" type="text" name="lastname" placeholder="Enter your last name" required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <label for="username">Số điện thoại</label>
                            <input class="form-control" id="phone" type="text" name="phone" placeholder="Số điện thoại" required="required"/>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <label for="username">Tên đăng nhập</label>
                            <input class="form-control" id="username" type="text" name="username" placeholder="Username" required="required"/>
                        </div>
                        <div class="row mb-3 form-group">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <label for="inputPassword">Mật khẩu</label>
                                    <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Create a password" required="required"/>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <label for="confirm">Nhập lại mật khẩu</label>
                                    <input class="form-control" id="confirm" name="confirm" type="password" placeholder="Confirm password" required="required"/>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Loại nhân viên</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="loai">
                                 {% for s in loai %}
                                    <option value="{{s.id}}">{{s.ten}}</option>
                                {% endfor %}
                            </select>
                          </div>
                        <div class="mt-4 mb-0 form-group">
                            <div class="d-grid"><button class="btn btn-primary" id="btn_register" >Tạo</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
<script>
    
</script>
{% endblock %}