<style>
  .btn-out{
    width: 110px;
    height: 40px;
  }
  .btn.btn-primary.btn-out{
    margin-left: 10px;
    margin-right: 10px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"> 
 <a class="navbar-brand" href="/">AN DUY</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">

   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="">Bác sĩ</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="">Về chúng tôi</a>
    </li>
   </ul>
   {% if current_user.is_authenticated %}
     <div class="form-inline my-2 my-lg-0">
         <ul class="navbar-nav mr-auto">

           <li class="nav-item dropdown">
               <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img style="width: 45px;height: 45px;margin-left: 10px" src="{{current_user.avatar}}" />
                   <span>{{current_user.name}}</span>
               </div>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="/me/course">Lịch của tôi</a>
                   <a class="dropdown-item" href="/user/profile">Hồ sơ</a>
               <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="/logout">Logout</a>
               </div>
           </li>
       </ul>
     </div>

   {% else %}
   <button type="button" class="btn btn-outline-primary btn-out" onclick="window.location='/login'">Đăng nhập</button>
   <button type="button" class="btn btn-primary btn-out" onclick="window.location='/register'">Đăng ký</button>
   {% endif %}

   
 </div>
 
 </div>
</nav>