<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"> 
 <a class="navbar-brand" href="/">BBLOG</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/course/create">Add content</a>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="/book_in">Đặt lịch khám</a>
         <a class="dropdown-item" href="#">Another action</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">Something else here</a>
       </div>
     </li>
   </ul>
   <form class="form-inline my-2 my-lg-0" method="get" action="/search">
     <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
       
   {% if current_user.is_authenticated %}
   <ul class="navbar-nav mr-auto">
       <img style="width: 45px;height: 45px;margin-left: 10px" src="" />
       <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{current_user.name}}
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="/me/course">My post</a>
               <a class="dropdown-item" href="/course/create">Add content</a>
               <a class="dropdown-item" href="/user/profile">Settings</a>
           <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/logout">Logout</a>
           </div>
       </li>
   </ul>
   {% else %}
   <div class="btn-group ml-1" role="group" aria-label="Basic example">
       <button type="button" class="btn btn-secondary" onclick="window.location='/register'">Đăng ký</button>
       <button type="button" class="btn btn-secondary" onclick="window.location='/login'">Đăng nhập</button>
   </div>
   {% endif %}

   
 </div>
 
 </div>
</nav>